In [3]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
from pandas_profiling import ProfileReport
# import plotly
import seaborn as sns
cdf = pd.read_csv(r'C:\Users\Spencer_Fox\Desktop\survival_rate_updated2.csv')
fdf = pd.read_csv(r'C:\Users\Spencer_Fox\Desktop\Iris.csv')
cdf
fdf

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [4]:
cdf

      Age  Op_Year  axil_nodes  Surv_status
0    30.0     64.0         1.0            1
1    30.0     62.0         3.0            1
2    30.0     65.0         0.0            1
3    31.0     59.0         2.0            1
4    31.0     65.0         4.0            1
..    ...      ...         ...          ...
301  75.0     62.0         1.0            1
302  76.0     67.0         0.0            1
303  77.0     65.0         3.0            1
304  78.0     65.0         1.0            2
305  83.0     58.0         2.0            2

[306 rows x 4 columns]